@use "../../../scss/abstracts/" as a;
@use "sass:color";

.dropdown {
  @include a.tablet {
    display: none;
  }

  .btn {}

  .item {
    position: absolute;
    top: 76px;
    left: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
    padding: 0px 25px;

    overflow: hidden;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(40px);
    background: a.$bg-header;

    clip-path: inset(0 0 100% 0);
    visibility: hidden;
    transition: clip-path 0.3s ease-in-out, padding 0.4s ease-in-out, visibility 0.3s;

    &.open {
      padding: 25px;
      clip-path: inset(0 0 0 0);
      visibility: visible;
    }

    .nav {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .navLink {
      color: a.$text-links;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.35px;

      display: flex;
      align-items: center;
      gap: 16px;

      &:hover {
        color: color.adjust(a.$text-links, $lightness: 30%);
      }

      .linkIcon {
        max-width: 20px;
        max-height: 20px;
      }
    }

    .profile {
      display: flex;
      justify-content: center;

      .signUpBtn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        margin: 0 8px;

        border-radius: 6px;
        background-color: a.$bg-accent2;
        padding: 12px 0;
        cursor: pointer;

        color: a.$bg-header;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -0.35px;

        transition: box-shadow 0.2s ease, filter 0.2s ease;

        &:hover {
          box-shadow: 0 4px 16px rgba(244, 244, 245, 0.2);
          filter: brightness(1.1);
        }

        .logIcon {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}