@use '../../scss/abstracts/' as a;
@use 'sass:color';

.hero {
  height: 614px;
  min-height: calc(100vh - 76px);

  display: flex;
  align-items: center;

  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    opacity: 0.2;

    background: url('../../assets/bg/hero-phone.png') no-repeat center/cover;

    @include a.tablet {
      background: url('../../assets/bg/hero-tablet.png') no-repeat center/cover;
    }

    @include a.desktop {
      background: url('../../assets/bg/hero-desktop.png') no-repeat center/cover;
    }
  }

  .content {

    display: flex;
    flex-direction: column;
    gap: 32px;

    .info {

      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 8px;

      .title {
        color: a.$text-main;
        font-size: 48px;
        font-weight: 900;
        letter-spacing: -1.92px;

        @include a.tablet {
          font-size: 72px;
          letter-spacing: -2.88px;
        }

      }

      .date {
        color: #e5e2e1cc;

        font-style: italic;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 32px;


        @include a.tablet {
          font-size: 24px;
        }
      }
    }

    .searchBar {
      display: flex;
      justify-content: center;

      .searchForm {
        display: flex;
        align-items: center;
        padding-left: 20px;
        gap: 19px;

        width: 100%;

        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(24px);
        background: rgba(14, 14, 14, 0.6);

        transition: 0.2s box-shadow ease-in-out;

        &:focus-within {
          box-shadow: 0px 0px 40px 0px rgba(54, 54, 54, 0.3);
        }

        @include a.tablet {
          max-width: 672px;
        }

        .searchButton {
          cursor: pointer;

          .searchIcon {
            width: 24px;
            height: 24px;
          }
        }

        .searchInput {
          background: none;
          border: none;
          outline: none;

          color: a.$text-main;
          font-size: 18px;
          font-weight: 400;

          width: 100%;
          padding: 20px 25px 20px 0;

          &::placeholder {
            color: #c1c6d7;
          }

        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: radial-gradient(118.00% 94.00% at 50% 0%, rgba(42, 42, 42, 0.8), rgba(19, 19, 19, 1)), linear-gradient(180.00deg, rgba(19, 19, 19, 0) 0%, rgba(19, 19, 19, 1) 100%);
  }
}

@include a.tablet {}

@include a.desktop {}