$font-main: "Montserrat", sans-serif;
$font-subMain: "Montserrat Alternates",
  sans-serif;


$color-bg-main: #ffffff;
$color-accent: #FFB36C;
$color-accent2: #ffffff;
$color-txt-main: #000000;
$color-bg-inputs: #e4e4e4;
$color-bg-text: #878787;
$color-bg-inputs2: #d9d9d9;