$font-main: "Inter", sans-serif;

$bg-main: #131313;
$bg-accent: #0E0E0E;
$bg-cards: #1C1B1B;
$bg-header: #18181B;
$bg-accent2: #f4f4f5;
$bg-footer: #0E0E0E;
$text-main: #E5E2E1;
$text-header: #f4f4f5;
$text-footer: #f4f4f5;
$text-footerLinks: #71717a;
$text-links: #a1a1aa;
$text-light: #c1c6d7;
$text-light2: #71717b;
$text-accent: #8bd1e8;
$text-white: #ffffff;
$text-btns: #2f3131;

$hover: #e4e4e7;