@use './abstracts/' as a;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 125px;
  scroll-behavior: smooth;

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: a.$bg-accent a.$bg-main;
    scrollbar-width: thin;
  }
}

body {
  font-family: a.$font-main;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: a.$bg-main;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;

  @include a.tablet {
    max-width: 768px;
  }

  @include a.desktop {
    max-width: 1280px;
    padding: 0 32px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: a.$bg-main;
}

::-webkit-scrollbar-thumb {
  background-color: a.$text-btns;
  border-radius: 10px;
  border: 2px solid a.$bg-main;

  &:hover {
    background-color: a.$text-light2;
  }
}